/* Add styles for consistent and extendable styling */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Functionality related to styling server page */
.server-page-content {
  @apply px-4 lg:px-4;
}

/* Functionality related to styling client page */
.client-page-content {
  @apply px-4 lg:px-4;
}

/* Functionality related to styling the header*/
.header {
  @apply flex h-24 flex-col justify-center bg-stone-100;
}

.header-nav {
  @apply container;
}

.header-nav-ul {
  @apply flex items-center justify-between gap-8 font-medium tracking-wider text-stone-500 pl-10;
}

.header-nav-li {
  @apply text-sm;
}

/* Functionality related to styling the time range selector */
.text-label {
  @apply block text-sm font-medium text-gray-700;
}

.input-field {
  @apply mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm;
}

.submit-button {
  @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500;
}

/* Functionality related to styling tables */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #e2e8f0;
  padding: 0.5rem;
}

.table th {
  background-color: #f7fafc;
  text-align: left;
  font-weight: bold;
}
